.menuTop{
  opacity: 1;
}

.second__title__div{
	display: flex;
	flex-direction: row;
	vertical-align: center;
}

.main {
	/*padding: 50px 0;*/
	/*background: url('../img/MainBackground.png') no-repeat center;*/
	width: 100%;
	height: 723px;
	color: white;
}
.videoDiv{
	position: relative;
}
.main__video{
	position: absolute;
	z-index: -2;	
	height: 760px;
	left:50%;
	transform: translate(-50%, 0%);
}
.main__column {
	display: flex;
	float: right;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 40%;
	padding-top:230px;
	padding-bottom: 78px;
}

.main .container{
	height: 100%;
}

.main__title{
	font-size: 54px;
	margin-top: 11px;
}

.main__text{
	font-size: 15px;
	margin-top: 13px;
	line-height: 121.52%;
}

.grid__main{
	margin-top: 35px;
	display: grid;
	column-gap: 88px;
	grid-row-gap: 25px; 
	grid-template-columns: 30% 30%; 
}


.grid__main__title{
	font-size: 12px;
	text-transform: uppercase;
	color: #00B7F6;
}
.grid__main__num{
	margin-top: 14px;
	font-size: 35px;
}
.grid__main__text{
	margin-top: 5px;
	font-size: 16px;
}

.second__block{
	width: 100%;
	padding-top: 102px;
}

.impStrat{
	width: 60%;
}

.p__title{
	font-size: 56px;
}

.p__text{
	margin-top: 37px;
	font-size: 15px;
	line-height: 33px;
}

.command{
	margin-top: 120px;
}

.grid__column{
	grid-template-columns: 1fr 1fr;
	column-gap: 5%;
	grid-row-gap: 50px;
}

.team__member{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.p__name{
	font-size: 32px;
}
.p__place{
	font-size: 15px;
	margin-top: 15px;
	opacity: 0.7;
}

.third__block{
	margin-top: 100px;
	width: 100%;
	background: #F0F8FF;
}

.activity{
	
	padding-top: 158px;
}

.activityFlex{
	margin-top: 38px;
	width: 100%;
	justify-content: space-between;
	 
}

.activityDiv{
	width: 45%;
	
}

.activity__block:first-child{
	margin-top: 0px;
}

.activity__block{
	margin-top: 48px;
	background: #FBFBFB;
	border: 1px solid #E6EDFE;
	box-shadow: 2px 11px 20px 10px rgba(233, 239, 254, 0.7);
}

.width90{
	margin-top: 24px;
	margin-left: 5%;
	width: 90%;
	margin-right: 5%;
	padding-bottom: 45px;
}

.activity__title{
	font-weight: bold;
	font-size: 32px;
}

.activity__grid{
	margin-top: 20px;
	display: grid;
	column-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 54px;
}

.activity__stat{
	font-size: 16px;
	color: #2573CF;
}

.activity__text{
	line-height: 20px;
	margin-top: 40px;
	font-size: 15px;
}

.activity__grid .activity__text{
	margin-top: 0px;
}

.second__activity__div .activity__stat{
	margin-top: 33px;
}
.activity__text2{
	font-size: 15px;
	margin-top: 6px;
}

.fourth__block{
	margin-top: 100px;
}

.news__div{
	margin-top: 41px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px;



}

a .news{
	color:black;
}

.news{
	background: #FBFBFB;
border: 1px solid #E6EDFE;
box-shadow: 2px 11px 20px 10px rgba(233, 239, 254, 0.7);
transition: transform 0.5s;
}

.news__p{
	padding-top: 24px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 50px;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
}

.fifth__block{
	color: white;
	background: #01336E;
	margin-top: 96px;
	padding-top: 53px;
}

.fifth__block
.p__title{
	font-size: 32px;
}

.p__title2{
	margin-top: 15px;
	font-size: 32px;
	font-weight: bold;
}

.lineUnder{
	margin-top: 62px;
}

.news:hover{
	transform: translateY(-2%);
}

.news:hover .news__p{
	color: #2573CF; 
}


@media (min-width: 960px) and (max-width: 1290px){
	.main__column {
		float: left;
		width: 65%;
	}
.main__video{
		display: none;
	}	
	.videoBg{
		height:650px;
	}
	.second__block{
		padding-top: 0px;
	}
	.impStrat{
		width: 80%;
	}
	.command{
		margin-top: 66px;
	}
	.grid__column{
		grid-row-gap: 70px;
		grid-template-columns: 90%;
	}
	.p__name{
		font-weight: bold;
	}

	.activity
	.flex__row{
		flex-direction: column;
	}

	.activityDiv{
		width: 100%;
	}
	.secondactivityDiv{
		margin-top: 48px;
	}
	.news__div{
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 50px;
	}
	.fifth__block{
		display: none;
	}

	.p__name{
		line-height: 38px;
	}
}

@media (min-width: 690px) and (max-width: 960px){
	.p__name{
		line-height: 38px;
	}
		.main__column {
		float: left;
		width: 65%;
	}
.main__video{
		display: none;
	}	
	.videoBg{
		height:700px;
	}
	.second__block{
		padding-top: 0px;
	}
	.impStrat{
		width: 80%;
	}
	.command{
		margin-top: 66px;
	}
	.grid__column{
		grid-row-gap: 70px;
		grid-template-columns: 90%;
	}
	.p__name{
		font-weight: bold;
	}

	.activity
	.flex__row{
		flex-direction: column;
	}

	.activityDiv{
		width: 100%;
	}
	.secondactivityDiv{
		margin-top: 48px;
	}
	.news__div{
		grid-template-columns: 1fr 1fr;
		margin-bottom: 50px;
	}
	.fifth__block{
		display: none;
	}
	.activity{
		padding-top: 0px;
	}
}

@media (min-width: 480px) and (max-width: 690px){
	.p__place{
		font-size: 14px;
	}
	.second__block{
		padding-top: 120px;
	}
	.p__title{
		font-size: 50px;
	}
	.p__name{
		line-height: 38px;
	}
		.main__column {
		float: left;
		width: 65%;
	}
.main__video{
		display: none;
	}	
	.videoBg{
		height:800px;
	}
	.impStrat{
		width: 80%;
	}
	.command{
		margin-top: 66px;
	}
	.grid__column{
		grid-row-gap: 70px;
		grid-template-columns: 90%;
	}
	.p__name{
		font-weight: bold;
	}

	.activity
	.flex__row{
		flex-direction: column;
	}

	.activityDiv{
		width: 100%;
	}
	.secondactivityDiv{
		margin-top: 48px;
	}
	.news__div{
		grid-template-columns: 80% ;
		grid-row-gap: 26px;
		margin-bottom: 50px;
	}
	.fifth__block{
		display: none;
	}
	.activity{
		padding-top: 0px;
	}
}

@media (min-width: 320px) and (max-width: 480px){
	.second__block{
		padding-top: 120px;
	}
	.p__title{
		font-size: 50px;
	}
	.p__name{
		margin-top: 20px;
		   text-align: center;
		line-height: 38px;
	}
		.main__column {
		float: left;
		width: 100%;
	}
.main__video{
		display: none;
	}	
	.videoBg{
		height:800px;
	}
	.impStrat{
		width: 100%;
	}
	.command{
		margin-top: 66px;
	}
	.grid__column{
		grid-row-gap: 70px;
		grid-template-columns: 100%;
	}
	.p__name{
		font-weight: bold;
	}

	.activity
	.flex__row{
		flex-direction: column;
	}

	.activityDiv{
		width: 100%;
	}
	.secondactivityDiv{
		margin-top: 48px;
	}
	.news__div{
		grid-template-columns: 80% ;
		grid-row-gap: 26px;
		margin-bottom: 50px;
	}
	.fifth__block{
		display: none;
	}
	.activity{
		padding-top: 0px;
	}
	.team__member{
		grid-template-columns: 1fr;
	}

	.team__member .flex__column{
		margin: 0px auto;
		    align-items: center;
	}
}